@import url('https://fonts.googleapis.com/css2?family=Outfit');

:root {
  --White: hsl(0, 0%, 100%);
  --LightGray: hsl(212, 45%, 89%);
  --GrayishBlue: hsl(220, 15%, 55%);
  --DarkBlue: hsl(218, 44%, 22%);
  --root-font-family: 'Outfit';
}

/* \TODO: delete this */
body {
  /* background-image: url("design/desktop-design.jpg"); */
  /* background-position: center; */
  /* background-size: 100%; */
}

.test {
  background-image: url("design/desktop-design.jpg");
  /* background-position: center; */
  background-size: 100%;
  opacity: .4;
  z-index: -1;
}

h1 {
  font-family: var(--root-font-family), sans-serif;
}